.env
.env.*
!.env.example
node_modules
vendor
public/build
public/storage
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
.git
.gitignore
*.log
